<form class="form-horizontal" (ngSubmit)="saveHero()" #heroForm="ngForm" *ngIf="hero">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name</label>
        <div class="col-sm-10" [ngClass]="{true: 'has-error'}[nameInput.invalid]">
            <input type="text" class="form-control" name="name" [(ngModel)]="hero.name" required #nameInput="ngModel">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="power">Hero Power</label>
        <div class="col-sm-10">
            <select class="form-control" name="power" [(ngModel)]="hero.power" required>
                <option value="">Select Power</option>
                <option *ngFor="let p of powers" [value]="p">{{p}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" [disabled]="heroForm.form.invalid">Save</button>
            <span class="text-success" *ngIf="submitted">Save Success</span>
        </div>
    </div>
</form>
