<h3 class="sub-header">
    <button class="btn btn-default pull-right" (click)="showCreateForm()">New Hero</button>
    Heroes
</h3>

<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <a class="list-group-item"
                [ngClass]="{true:'active'}[hero === selectedHero]"
                *ngFor="let hero of heroes"
                (click)="selectHero(hero)">
                {{hero.name}}
            </a>
        </div>
    </div>
    <div class="col-sm-9">
        <mini-hero-detail [hero]="selectedHero" *ngIf="selectedHero && !newHero"></mini-hero-detail>
        <hero-form [hero]="newHero" (onSave)="onCreateHero($e)" *ngIf="newHero"></hero-form>
    </div>
</div>
